/* ============================================================
   Button
   ============================================================ */
:root {
  --button-bg-color: #4767ac;
  --button-color: #ffffff;
  --button-icon-bg-color: #283a61;
}

.modern-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s ease;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  height: 40px;
}

.modern-button-icon {
  border: none !important;
  padding: 0.6rem 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-icon-bg-color);
  height: 100%;
}

.modern-button-text {
  padding: 0rem 1rem;
  width: 100%;
}

.modern-button-decorator {
  width: 5px;
  background-color: var(--button-icon-bg-color);
  height: 100%;
}

[data-variant="primary"] {
  --button-bg-color: #4767ac;
  --button-color: #ffffff:
}

[data-variant="primary"]:hover {
  --button-bg-color: #395daa;
}

[data-variant="primary"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-variant="secondary"] {
  border: 1px solid var(--button-icon-bg-color);
  --button-bg-color: #ffffff;
  --button-icon-bg-color: #d1d5db;
  --button-color: #374151;
}

[data-variant="secondary"]:hover {
  --button-bg-color: #f9fafb;
}

[data-variant="secondary"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-variant="cancel"] {
  --button-bg-color: #b15a5a;
  --button-icon-bg-color: #703939;
  --button-color: #e4e4e4;
}

[data-variant="cancel"]:hover {
  --button-bg-color: #b34343;
}

[data-variant="cancel"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-variant="succes"] {
  --button-bg-color: #56a34f;
  --button-color: #dbdbdb;
  --button-icon-bg-color: #396d34;
}

[data-variant="succes"]:hover {
  --button-bg-color: #4ba742;
}

[data-variant="succes"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-variant="warning"] {
  --button-bg-color: #ccb94e;
  --button-color: #3b3b3b;
  --button-icon-bg-color: #a79641;
}

[data-variant="warning"]:hover {
  --button-bg-color: #ccb63a;
}

[data-variant="warning"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-size = "sm"] {
  max-width: 50px;
}

[data-size = "md"] {
  max-width: 150px;
}

[data-size = "l"] {
  max-width: 200px;
}

[data-size = "xl"] {
  max-width: 250px;
}

[data-ellipsis = true] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[data-icon-position = "right"] {
  flex-direction: row-reverse;
  border-left: solid 0.5rem var(--button-icon-bg-color);
}

[data-icon-position = "left"] {
  flex-direction: row;
  border-right: solid 0.5rem var(--button-icon-bg-color);
}